// Colors
$white: #FFF;
$off-white: #F9FAF9;
$text: #31372D;
$main-pale: #84A98C;
$main-dark: #354F52;
$main: #52796F;
$grey: #E0E0E0;
$error: #B92B27;

$font: 'Comfortaa', 'sans-serif';
$radius: 10px;
$hover-move: -0.2rem;
$hover-time: 0.2s;
$side-menu-width: 5rem;
$side-padding: 3rem;
$top-padding: 3rem;
