// Colors
$white: #FFF;
$off-white: #F9FAF9;
$text: #31372D;
$main-pale: #84A98C;
$main-dark: #354F52;
$main: #52796F;
$grey: #E0E0E0;
$error: #B92B27;

$saving: $main;
$want: $main-dark;
$need: $main-pale;

$font: 'Comfortaa', 'sans-serif';
$radius: 10px;
$hover-move: -0.2rem;
$hover-time: 0.2s;
$side-menu-width: 4vw;
$side-padding: 3vw;
$top-padding: 3rem;
$page-full-width: 100vw - $side-padding - $side-menu-width;
$shadow: 0 3px 8px 0 $main;
$hover-shadow: 0 3px 12px 0 $main;
